<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>weather-api-major</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container">
  <form  class="form" action="/" method="post">
    <label class="city" for="cityInput"> <img src="/images/rain.png" class="headImage" alt="">weatherLive</label><br>
    <input class="input" type="cityInput" name="cityName" type="text require" placeholder="City Name" autocomplete="off" required>
    <br><br>
    <button class="submitButton btn btn-primary btn-lg" type="submit button" name="button">Search</button>
  </form>

</body>
</html>
